*{
    font-family: "Avenir Roman";
}

button, label, stack-layout {
    horizontal-align: center;    
}

button {
    font-size: 36;
}

.title {
    font-size: 30;
    margin: 20;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
} 
.test {
    font-family:"FontAwesome";
    margin-left: 10;
}
.example {
    font-family:"FontAwesome";
    margin-left: 10;
}